body {
  	margin: 0;
	color: white;
	background: linear-gradient(155.75deg, #080037 0%, rgba(28, 0, 197, 0.7) 99.99%, rgba(16, 9, 58, 0) 100%);
  	font-family: 'Poppins', sans-serif;
}

html {
  min-height: 100%;
}
code {
  	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    	monospace;
}


